/* body {
  font-family: "Andale Mono";
  text-transform: uppercase;
  background-image: url(images/Screenshot\ 2023-08-15\ at\ 20.43.46\ Medium.png);
  background-size: cover;
}

main {
  overflow-x: hidden;
  display: flex;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
} */

/* section:nth-child(even) {
  background-color: teal;
  color: white;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: start;
}

.item {
  flex: none;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid red;
}
