body {
  font-family: "Andale Mono";
  text-transform: uppercase;
  background-image: url(images/Screenshot\ 2023-08-15\ at\ 20.43.46\ Medium.png);
  background-size: cover;
}

main {
  overflow-x: hidden;
  display: flex;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

/* section:nth-child(even) {
  background-color: teal;
  color: white;
} */

.block {
  display: block;
}

img {
  width: 300px;
}

@media (max-width: 500px) {
  img {
    width: 100px;
  }

  main {
    z-index: 6;
    display: block;
    height: 300px;
    top: 0px;
    position: absolute;
    overflow: visible;
    transition: all 365ms cubic-bezier(0.4, 0.24, 0.4, 1);
  }
}
