@font-face {
  font-family: "Andale Mono"; /*Can be any text*/
  src: local("Andale Mono"), url("/font/AndaleMono.ttf") format("truetype");
}
.logo {
  border-right: solid 1px black;
  border-left: solid 1px black;
}
.logo_image {
  max-width: 150px;
  padding: 10px;
}

.menu {
  border-right: solid 1px black;
  border-left: solid 1px black;
}

.header {
  position: fixed;
  margin-top: 0px;

  border-top: solid 1px black;
  border-bottom: solid 1px black;
  width: 100vw;
  background-color: white;
}

.second_logo {
  max-width: 700px;
}

.footer {
  margin-top: 300px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

h1 {
  font-family: baskerville;
  font-style: italic;
  font-size: 100px;
  letter-spacing: 10px;
}

body {
  font-family: "Andale Mono";
  text-transform: uppercase;
  background-image: url(images/GalleryWall.png);
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: start;
}

.item {
  flex: none;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
}

h1 {
  margin: 20px 0px;
}
